/*Universal*/
:root:before {
  content: url(../images/lauren-mancke-63448.jpg)
           url(../images/brooke-lark-230140.jpg)
           url(../images/annie-spratt-124160.jpg)
           url(../images/pineapple-supply-co-124390.jpg)
  /* partial fallback */
  background-image: url(../images/brooke-lark-230140.jpg);
  visibility: hidden;
  position: absolute;
  left: -999em;
}

body, p {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	min-height: 95%;
}

.btn-primary {
	background-color: transparent;
	border: 1px solid #f55859;
	font-size: 1.5em;
	color: #f55859;
}

.btn-primary:hover {
	background-color: #f55859;
	color: #fff;
	border: 1px solid #f55859;
}

button {
	background-color: #f55859;
	color: #ffffff;
	border-radius: .25rem;
}

.search-input {
	width: 40%;
	height: 40px;
}

a.nav-link {
	font-size: 1.5em;
	letter-spacing: 0.25em;
}

footer.footer {
	color: #000;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	margin-bottom: 1em;
	background-color: transparent;
	position: static;
}

/*Header for all pages except Index*/


.navbar-brand {
	margin-left: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 9em;
	letter-spacing: 0px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navbar-brand span.alt {
	margin-right: 0.2em;
	color: #f55859;
	font-family: "Sacramento", cursive;
	font-size: 1.5em;
	text-transform: none;
	position: relative;
}

.btn-outline-success {
	color: #f55859;
    background-color: transparent;
    background-image: none;
    border-color: #f55859;
}

.btn-outline-success:hover {
	background-color: #f55859;
	border-color: #f55859;
}

input.form-control:focus {
	border-color: #f55859;
}
.navbar li.nav-item {
	margin-left: 2em;
}

.navbar li.nav-item:last-child a:hover {
	color: #f55859;
}

a.nav-link:hover {
	color: #f55859 !important;
}

div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 1.5em;
}

.home span.alt, .map span.alt, .profile span.alt, .faq span.alt {
	letter-spacing: 0px;
}

/*Profile Page*/

body.profile {
	background: url("../images/lauren-mancke-63448.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 3.5em;
}

#error1, #error2, #error3, #error4, #error5 {
	color: red;
	font-size: 75%;
}

button.edit-listing, button.delete-listing {
	background-color: transparent;
	border: none;
	color: #000000;
	cursor: pointer;
}

.card {
	max-width: 260px;
	border: none;
	text-align: center;
	border-radius: 0.25em;
	right: -1em;
}

.card-title {
	letter-spacing: 0.1em;
}

.card-img-top {
	border-radius-top: 0.25em;
}
.profile #edit-profile {
	color: #f55859;
}

.profile #edit-profile:hover {
	font-weight: bold;
}

#listings {
	text-transform: uppercase;
}

#fb-share {
	margin: 10px 0px 10px 0px;
	width: 6em;
}

#fb-share:hover {
	cursor: pointer;
}

#fb-pic {

 width: 75px;
padding-right: 5px;
}

thead {
	background-color: #f7cacb;
	font-weight: 700;
}

.table {
	margin-top: 2rem;
}

#table-headers th:nth-child(5), #table-headers th:nth-child(6) {
	color: transparent;
}
/*Index Page*/

body.home {
	background: url("../images/brooke-lark-230140.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#button1, #button2, #button3 {
    border: none;
}

.home h1.site-title {
	margin-top: 0.8em;
    margin-bottom: 0px;
	margin-left: 1rem;
	text-transform: uppercase;
	font-size: 10vw;
	letter-spacing: 0px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

.home h1.site-title span.alt {
	color: #f55859;
	font-family: "Sacramento", cursive;
	font-size: 12.5vw;
	text-transform: none;
	display: block;
	position: relative;
	left: -0.8em;
	margin-bottom: -0.55em;
}

.home #profile-link:hover {
	color: #f55859;
}

.home nav.navbar.navbar-expand-sm {
	position: fixed;
    right: 0;
    top: 1em;
    justify-content: flex-end;  
}

.home a.nav-link {
	font-size: 2vw;
}

.home .btn {
	margin-left: 1.5em;
	height: 45px;
    margin: 10px 0px 10px 0px;
    width: 6em;
	background-color: transparent;
	border: 1px solid #f55859;
	color: #f55859;
}

.home .btn-primary:hover {
	background-color: #f55859;
	color: #fff;
	border: 1px solid #f55859;
}

.home #search.col-md-3 {
	max-width: 10%;
}

.home .search-input {
	font-family: 'Open Sans', sans-serif;
	height: 2.2em;
    margin-left: 1em;
    border-radius: 0.25rem;
    border: 1px solid grey;
    background-color: transparent;
}

.home .search-input:focus {
	color: #f55859;
}

.home .search-input[type="text"]{
	padding-left: 1em;
	margin: 10px 0px 10px 0px;
    font-weight: 300;
    width: 100%;
    height: 45px;
}

.home .search-row {
	margin-top: 15vh;
	align-items: center;
}

.home div#description {
	font-family: 'Sacramento', cursive;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	position: fixed;
	bottom: 25%;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
}

/*MAP PAGE*/

body.map {
	background: url("../images/annie-spratt-124160.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.map .navbar-nav .nav-link {
	padding-right: 2rem;
    padding-left: .5rem;
    padding-bottom: 3rem;
}

.map .search-input[type="text"]{
	padding-left: 1em;
	margin: 10px 0px 10px 0px;
    font-weight: 300;
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.map #search-button {
	margin: 10px 0px 10px 0px;
	width: 6em;
}

.map #search.col-md-3 {
	max-width: 10%;
}

.map div.map {
	margin: 0 auto;
	position: relative;
	top: 40px;
}

#map_wrapper {
    height: 40em;
}

#map_canvas {
	border-color: black;
    width: 100%;
    height: 85%;
}

h3.mapInfo {
	text-align: center;
}

.mapInfo a {
	color: #f55859;
    text-decoration: underline;
}
.map #listings-table {
	display: none;
	
}

.map .table {
	background-color:rgba(255, 255, 255, 0.75);
}

.map .page-link {
	color: #f55859;
}

.activated .page-link{
	color: #ffffff;
	background-color: #f55859;
}

/*FAQ Page*/
body.faq {
	background: url("../images/pineapple-supply-co-124390.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.subheading {
	font-size: 2vw;
}

.faq .container-fluid.content {
	margin-top: 12em;
}

.faq div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 3.5em;
}

.faq .faq-header h2 {
	position: relative;
	top: -1em;
	text-align: center;
	font-size: 3.5vw;
	letter-spacing: 0.1em;
}

.faq .faq-header p.subheading {
	position: relative;
	text-align: center;
	top: -2em;
	color: #f55859;
}

.faq .faq-body {
	position: static;
	margin-top: -1em;
}

.faq h2 {
	font-size: 3vw;
	margin-bottom: 1em;
}

.faq h3 {
    font-size: 2.5vw;
    margin-bottom: 1em;
}

.faq .faq-body li {
	font-size: 2vw;
}

.faq .faq-body p {
	font-size: 1.5vw;
}

.faq .navbar {
	background-color: #dfe1e8;
}

/*AUTOCOMPLETE CSS OVERWRITE*/

.ui-widget-content a {
	color: #f55859;
}

.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #f55859;
	background: #FDE0E1;
	font-weight: bold;
	color: #f55859;
}

