/*Universal*/
:root:before {
  content: url(../images/lauren-mancke-63448.jpg)
           url(../images/brooke-lark-230140.jpg)
           url(../images/annie-spratt-124160.jpg)
           url(../images/pineapple-supply-co-124390.jpg)
  /* partial fallback */
  background-image: url(../images/brooke-lark-230140.jpg);
  visibility: hidden;
  position: absolute;
  left: -999em;
}

body, p {
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	min-height: 95%;
}

.btn-primary {
	background-color: transparent;
	border: 1px solid #f55859;
	font-size: 1.5em;
	color: #f55859;
}

.btn-primary:hover {
	background-color: #f55859;
	color: #fff;
	border: 1px solid #f55859;
}

button {
	background-color: #f55859;
	color: #ffffff;
	border-radius: .25rem;
}

.search-input {
	width: 40%;
	height: 40px;
}

a.nav-link {
	font-size: 1.5em;
	letter-spacing: 0.25em;
}

footer.footer {
	color: #000;
	text-align: center;
	width: 100%;
	font-size: 1em;
	margin-bottom: 1em;
	background-color: transparent;
	position: static;
}

/*Header for all pages except Index*/


.navbar-brand {
	margin-left: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 9em;
	letter-spacing: 0px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

.navbar-brand span.alt {
	margin-right: 0.2em;
	color: #f55859;
	font-family: "Sacramento", cursive;
	font-size: 1.5em;
	text-transform: none;
	position: relative;
}

.btn-outline-success {
	color: #f55859;
    background-color: transparent;
    background-image: none;
    border-color: #f55859;
}

.btn-outline-success:hover {
	background-color: #f55859;
	border-color: #f55859;
}

input.form-control:focus {
	border-color: #f55859;
}
.navbar li.nav-item {
	margin-left: 2em;
}

.navbar li.nav-item:last-child a:hover {
	color: #f55859;
}

a.nav-link:hover {
	color: #f55859 !important;
}

div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 1.5em;
}

.home span.alt, .map span.alt, .profile span.alt, .faq span.alt {
	letter-spacing: 0px;
}

select#search-radius {
	padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    height: 2.4rem;
    color: grey;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*Profile Page*/

body.profile {
	background: url("../images/lauren-mancke-63448.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 3.5em;
}

#error1, #error2, #error3, #error4, #error5 {
	color: red;
	font-size: 75%;
}


button.edit-listing, button.delete-listing, {
	background-color: transparent;
	border: none;
	color: #000000;
	cursor: pointer;
}

.card {
	max-width: 260px;
	border: none;
	text-align: center;
	border-radius: 0.25em;
	right: -1em;
}

.card-title {
	letter-spacing: 0.1em;
}

.card-img-top {
	border-radius-top: 0.25em;
}
.profile #edit-profile {
	color: #f55859;
}

.profile #edit-profile:hover {
	font-weight: bold;
}

#listings {
	text-transform: uppercase;
}

#fb-share {
	margin: 10px 0px 10px 0px;
	width: 6em;
}

#fb-share:hover {
	cursor: pointer;
}

#fb-pic {

 width: 75px;
padding-right: 5px;
}

thead {
	background-color: #f7cacb;
	font-weight: 700;
}

.table {
	margin-top: 2rem;
}

#table-headers th:nth-child(5), #table-headers th:nth-child(6) {
	color: transparent;
}
/*Index Page*/

body.home {
	background: url("../images/brooke-lark-230140.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#button1, #button2, #button3 {
    border: none;
}

.home h1.site-title {
	margin-top: 0.8em;
    margin-bottom: 0px;
	margin-left: 1rem;
	text-transform: uppercase;
	font-size: 10vw;
	letter-spacing: 0px;
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
}

.home h1.site-title span.alt {
	color: #f55859;
	font-family: "Sacramento", cursive;
	font-size: 12.5vw;
	text-transform: none;
	display: block;
	position: relative;
	left: -0.8em;
	margin-bottom: -0.55em;
}

.home #profile-link:hover {
	color: #f55859;
}

.home nav.navbar.navbar-expand-sm {
	position: fixed;
    right: 0;
    top: 1em;
    justify-content: flex-end;  
}

.home .navbar-nav {
	margin-right: 1em;
    margin-top: 1em;
}

.home a.nav-link {
	font-size: 2vw;
}

.home .btn {
	margin-left: 1.5em;
	height: 45px;
    margin: 10px 0px 10px 0px;
    width: 6em;
	background-color: transparent;
	border: 1px solid #f55859;
	color: #f55859;
}

.home .btn-primary:hover {
	background-color: #f55859;
	color: #fff;
	border: 1px solid #f55859;
}

.home .search-input {
	font-family: 'Open Sans', sans-serif;
	height: 2.2em;
    margin-left: 1em;
    border-radius: 0.25rem;
    border: 1px solid grey;
    background-color: transparent;
}

.home .search-input:focus {
	color: #f55859;
}

.home .search-input[type="text"]{
	padding-left: 1em;
	margin: 10px 0px 10px 0px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    font-size: 2vw;
}

.home select#search-radius {
	padding-left: 1em;
    font-weight: 300;
    font-size: 1.35vw;
    width: 100%;
    height: 45px;
    border: 1px solid grey;
    border-radius: 0.25rem;
    color: grey;
    background-color: transparent;
}

.home .search-row {
	max-width: 90%;
	margin-top: 15vh;
	align-items: center;
}

.home div#description {
	font-family: 'Sacramento', cursive;
	font-size: 6vw;
	font-weight: bold;
	text-align: center;
	position: relative;
	bottom: -2em;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg); /* Standard syntax */
}

.home .row {
	margin-right: 20px;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.home .col-4 {
	margin: 0.5em 0;
}

@media only screen and (min-width: 640px) and (max-width: 768px) {	
	.home select#search-radius {
		font-size: 2vw;
	}

	.home .btn-primary {
		font-size: 1em;
	}

	.home .search-row {
		margin-top: 8vh;
	}

	.home h1.site-title {
		margin-top: 0.2em;
	}

	.home .col-md-4.col-sm-7.col-10 {
		margin: 0 4em;
	}
}

@media only screen and (min-width: 450px) and (max-width: 639px) {	
	.home select#search-radius {
		font-size: 2vw;
	}

	.home .btn-primary {
		font-size: 1em;
	}

	.home .search-row {
		margin-top: 7vh;
	}

	button.navbar-toggler {
		padding: 0.3em 0.6em;
		font-size: 0.6em;
		line-height: 2;
	}

	.home a.nav-link {
		font-size: 3vw;
	}

	.home h1.site-title {
		margin-top: 0.2em;
	}

	footer.footer {
		font-size: 0.5em;
	}
}

@media only screen and (min-width: 300px) and (max-width: 449px) {	
	.home .row {
		margin: 0;
	}

	.home .search-row {
		max-width: 100%;
		margin-top: 5vh;
	}

	.home .search-input[type="text"] {
		font-size: 4vw;
		margin: 5px 0;
	}

	.home select#search-radius {
		font-size: 3vw;
		margin: 5px 0;
	}

	.home .col-4 {
		flex: 1 0 33.333333%;
		max-width: 45%;
		margin: 0;
	}

	button.navbar-toggler {
		padding: 0.2em 0.5em;
		font-size: 0.5em;
		line-height: 2;
	}

	.home a.nav-link {
		font-size: 3vw;
	}

	.home h1.site-title {
		margin-top: 0.2em;
	}

	.home .btn {
		width: 5em;
		font-size: 1em;
	}

	footer.footer {
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 300px) {	
	.home .container-fluid {
		margin: 0;
		padding: 0;
	}

	.home .row {
		padding: 0;
	}

	.home .search-input[type="text"] {
		font-size: 5vw;
		height: 35px;
		margin: 5px 0;
	}

	.home select#search-radius {
		font-size: 4vw;
		height: 35px;
		margin: 5px 0;
	}

	.home .col-4 {
		flex: 1 0 33.333333%;
		max-width: 60%;
		margin: 0;
	}

	.home .btn {
		font-size: 0.7em;
		height: 35px;
		margin: 5px 0;
		width: 6em;
	}
	
	button.navbar-toggler {
		padding: 0.2em 0.5em;
		font-size: 0.5em;
		line-height: 2;
	}

	.home a.nav-link {
		font-size: 3vw;
	}

	.home h1.site-title {
		margin-top: 0.2em;
	}

	footer.footer {
		font-size: 0.5em;
	}
}

/*MAP PAGE*/

body.map {
	background: url("../images/annie-spratt-124160.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.map .navbar-nav .nav-link {
	padding-right: 2rem;
    padding-left: .5rem;
    padding-bottom: 3rem;
}

.map .search-input[type="text"]{
	padding-left: 1em;
	margin: 10px 0px 10px 0px;
    font-weight: 300;
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.map #search-button {
	margin: 10px 0px 10px 0px;
	width: 6em;
}

.map select#search-radius {
	padding-left: 1em;
    margin: 10px 0px 10px 0px;
    font-weight: 300;
    font-size: 1.5vw;
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.map div.map {
	margin: 0 auto;
	position: relative;
	top: 40px;
}

#map_wrapper {
    height: 40em;
}

#map_canvas {
	border-color: black;
    width: 100%;
    height: 85%;
}

h3.mapInfo {
	text-align: center;
}

.mapInfo a {
	color: #f55859;
    text-decoration: underline;
}
.map #listings-table {
	display: none;
	
}

.map .table {
	background-color:rgba(255, 255, 255, 0.75);
}

.map .page-link {
	color: #f55859;
}

.activated .page-link{
	color: #ffffff;
	background-color: #f55859;
}

/*FAQ Page*/
body.faq {
	background: url("../images/pineapple-supply-co-124390.jpg") no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

p.subheading {
	font-size: 2vw;
}

.faq div.collapse.navbar-collapse.justify-content-end {
	margin-bottom: 3.5em;
}

.faq .faq-header h2 {
	position: relative;
	top: -1em;
	text-align: center;
	font-size: 3.5vw;
	letter-spacing: 0.1em;
}

.faq .faq-header p.subheading {
	position: relative;
	text-align: center;
	top: -2em;
	color: #f55859;
}

.faq .faq-body {
	position: static;
	margin-top: -1em;
}

.faq h2 {
	font-size: 3vw;
	margin-bottom: 1em;
}

.faq h3 {
    font-size: 2.5vw;
    margin-bottom: 1em;
}

.faq .faq-body li {
	font-size: 2vw;
}

.faq .faq-body p {
	font-size: 1.5vw;
}

.faq .navbar {
	background-color: #dfe1e8;
}

.faq .form-inline {
	flex-flow: row nowrap;
}

.faq button.navbar-toggler {
	margin-bottom: 14em;
}

.faq ul.navbar-nav {
	float: right;
}

.faq .form-control {
	margin-right: 0.2em;
}

.faq .my-2 {
	margin-left: 1em;
}

@media only screen and (max-width: 640px) {	
	.navbar-toggler {
		position: fixed;
		top: 4em;
		right: 2em;
	}

	.faq .form-inline {
		flex-flow: row wrap;
	}

	.faq .form-control.ui-autocomplete-input {
		margin-bottom: 0.5em;
	}
}

@media only screen and (max-width: 400px) {
	.faq a.navbar-brand {
		font-size: 1.5rem;
	}

	.navbar-toggler {
		position: fixed;
		top: 2em;
		right: 1em;
	}
}
/*AUTOCOMPLETE CSS OVERWRITE*/

.ui-widget-content a {
	color: #f55859;
}

.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #f55859;
	background: #FDE0E1;
	font-weight: bold;
	color: #f55859;
}

/*Media Queries*/

@media only screen and (min-width: 1100px) {	
	.home h1.site-title {
		margin-top: 0;
	}
}

@media screen and (max-width: 960px) {	
	.map .search-input[type="text"]{
	    font-size: 2vw;
	    padding-left: .5em;

	}

	.map select#search-radius {

    font-size: 2vw;

	}
}

@media screen and (max-width: 640px) {	
	.map .search-input[type="text"]{
	    font-size: 3vw;
	    padding-left: .5em;

	}

	.map .table .tbody {
	background-color:rgba(255, 255, 255, 0.75);
	}

	.map select#search-radius {
    font-size: 2vw;
	}

	.table {
		table-layout: fixed;
		font-size: 50%;
	}

	a.navbar-brand {
		font-size: 150%;
	}
}

